/* CSS DESCRIPTION*/

.contact__title {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(20, 217, 196);
  text-transform: uppercase;
  line-height: 1.88;
}
.contact__subt {
font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  text-align: center;
}
.contact__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  text-align: center;
}

/*CSS FORM*/

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.contact-form-label {
  color: #54585a;
  font-size: 14px;
  margin-top: 13px;
  margin-bottom: 7px;
  text-align: left;
}

.label_name {
  margin-top: 58px;
  margin-bottom: 7px;
}

.contact-form-input {
  padding: 11px 15px 15px;
  width: 290px;
  height: 45px;
  border: solid 1px #b8b8b9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#contact-form_message {
  width: 290px;
  height: 105px;
  border: solid 1px #b8b8b9;
  padding-top: 11px;
  padding-left: 15px;
}

#contact-form_button {
  width: 290px;
  height: 45px;
  border-radius: 4px;
  background-color: #099d8d;
  color: white;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

span {
  color: #14d9c4;
}

input::placeholder {
  color: #b8b8b9;
}

#contact-form_message::placeholder {
  color: #b8b8b9;
}
/*A TOODOS LOS INPUT
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;*/
