/* FOOTER CSS */

.footer {
  font-family: $tf-open;
  border-top: 1px solid $grey-light;
  padding: rem(30px) 0 rem(45px) 0;
}

.footer__text {
  text-align: center;
  font-size: rem(14px);
  color: $grey-light;
  margin: 0;
  line-height: 1.43;
}

.footer__nav {
  box-sizing: border-box;
  padding: rem(20px) 0 rem(30px) 0;
}

.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.43;
  font-size: rem(14px);
  font-weight: 500;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.75;
}

.footer__link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
.footer__link:hover {
  color: $color-link-hover;
}

.logo-ada {
  width: rem(115px);
  margin: 0 auto;
  background-color:$white;
}

.logo-ada__img {
  width: 100%;
}

/* FOOTER MEDIA */

@media all and (min-width: rem(768px)) {
  .footer {
    height: rem(170px);
    padding: rem(30px) 0;
    box-sizing: border-box;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    height: rem(120px);
  }
  .footer__text {
    order: 0;
    text-align: left;
    margin: 0 0 rem(15px);
    display: inline-block;
    width: 50%;
  }
  .footer__nav {
    order: 2;
    padding: 0;
    width: 50%;
    box-sizing: border-box;
    align-self: flex-end;
    bottom: rem(90px);
  }
  .footer__nav-list,
  .footer__link {
    line-height: 2.14;
    text-align: right;
  }
  .logo-ada {
    order: 1;
    margin: 0;
  }
}

@media all and (min-width: rem(1200px)) {
  .footer {
    height: rem(160px);
  }
}
