/* HEADER CSS*/

.header {
  @include fixedTop();
}

.header-1 {
  background-color: rgba(9, 157, 141, 0.95);
  padding: rem(15px) 0;
  text-align: center;
}
.header-1__title {
  font-family: $tf_rubik;
  font-weight: 700;
  font-size: rem(16px);
  color: $color-header-title;
  text-transform: uppercase;
  line-height: 1.88;
  padding-left:300px;
  position:relative;
  background-color:red;
    &::before{
      content:"";
      right:100%;
      top:0;
      position: absolute;
      width:200px;
      height: 30px;
      background-color: yellow;
      background-image: url(../images/bicis_blanco.png);
    };
}


// .header-1__title {
//   font-family: $tf_rubik;
//   font-weight: 700;
//   font-size: rem(16px);
//   color: $color-header-title;
//   text-transform: uppercase;
//   line-height: 1.88;
//   display: block;
//   text-align: right;
//   background-image: url(../images/bicis_blanco.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: 0% 0%;
//   animation-name: move;
//   animation-duration: 5s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
//   animation-timing-function: linear;
//   animation-delay: 1s;
// }

@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 45% 0%;
  }
  70% {
    background-position: 60% 0%;
  }
  90% {
    background-position: 67% 0%;
  }
  100% {
    background-position: 64% 0%;
  }
}

.header__nav {
  padding: rem(8px) 0 rem(7px);
  background: rgba(20, 217, 196, 0.9);
}

.header__nav-list {
  font-size: rem(15px);
  font-weight: 700;
  text-transform: uppercase;
  color: $color-header-title;
  line-height: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header__link,
.tandem-code__link {
  color: $white;
  text-decoration: none;
}

.header__link:hover,
.tandem-code__link:hover {
  color: $color-link-hover;
}
.tandem-code__link:hover {
  color: #1d0029;
}

/* CSS HEADER MEDIA */

@media all and (min-width: rem(768px)) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    flex-grow: 1;
    text-align: left;
  }
  .header__nav {
    width: 50%;
    padding: rem(15px) 0 0;
    background-color: rgba(9, 157, 141, 0.95);
  }
  .header__nav .container {
    margin: 0 rem(45px) 0 0;
  }
  .header__link:hover {
    color: $color-link-hover;
  }
  .header__nav-list {
    justify-content: flex-end;
  }
  .header__nav-item {
    padding-right: rem(18px);
  }
  .header__nav-item:last-child {
    padding-right: 0;
  }
}
/* CSS MEDIA 1200px*/

@media all and (min-width: rem(1200px)) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    flex-grow: 1;
    text-align: left;
  }
  .header__nav {
    width: 50%;
    padding: rem(15px) 0 0 0;
    background-color: rgba(9, 157, 141, 0.95);
  }
  .header__nav .container {
    margin: 0 rem(45px) 0 0;
  }
  .header-1 .container {
    margin: 0 0 0 auto;
    width: rem(462px);
  }
  .header__nav .container {
    margin: 0 auto 0 0;
    width: rem(462px);
  }
  .header__link:hover {
    color: $color-link-hover;
  }
  .header__nav-list {
    justify-content: flex-end;
  }
  .header__nav-item {
    padding-right: rem(18px);
  }
  .header__nav-item:last-child {
    padding-right: 0;
  }
}
