/* HEADER CSS*/

.header {
  @include fixedTop();
}

.header-1 {
  background-color: rgba(9, 157, 141, 0.95);
  padding: rem(15px) 0;
  text-align: center;
}
.header-1__title {
  font-family: $tf_rubik;
  font-weight: 700;
  font-size: rem(16px);
  color: $color-header-title;
  text-transform: uppercase;
  line-height: 1.88;
  padding-left: 100px;
  position: relative;
  &::before {
    content: "";
    right: 100%;
    top: 0;
    position: absolute;
    width: 200px;
    height: 30px;
    background-image: url(../images/bicis_blanco.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: move320;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
  }
}


@media all and (min-width:360px){
  .header-1__title::before{
    animation-name: move360;
  }
  .header-1__title{
    padding-right: 40px;
  }
}
@media all and (min-width:415px){
  .header-1__title::before{
    animation-name: move415;
  }
  .header-1__title{
    padding-right: 40px;
  }
}
@media all and (min-width:480px){
  .header-1__title::before{
    animation-name: move480;
  }
  .header-1__title{
    padding-right: 40px;
  }
}
@media all and (min-width:560px){
  .header-1__title::before{
    animation-name: move560;
  }
  .header-1__title{
    padding-right: 40px;
  }
}
@media all and (min-width:640px){
  .header-1__title::before{
    animation-name: move640;
  }
  .header-1__title{
    padding-right: 40px;
  }
}
@media all and (min-width:768px){
  .header-1__title::before{
    animation-name: move768;
  }
  .header-1__title{
    padding-right: 0;
  }
}

@media all and (min-width:1200px){
  .header-1__title::before{
    animation-name: move1200;
  }
  .header-1__title{
    padding-right: 30px;
  }
}

.header__nav {
  padding: rem(8px) 0 rem(7px);
  background: rgba(20, 217, 196, 0.9);
}

.header__nav-list {
  font-size: rem(15px);
  font-weight: 700;
  text-transform: uppercase;
  color: $color-header-title;
  line-height: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header__link,
.tandem-code__link {
  color: $white;
  text-decoration: none;
}

.header__link:hover,
.tandem-code__link:hover {
  color: $color-link-hover;
}
.tandem-code__link:hover {
  color: #1d0029;
}

/* CSS HEADER MEDIA */

@media all and (min-width: rem(768px)) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    flex-grow: 1;
    text-align: right;
  }
  .header__nav {
    width: 50%;
    padding: rem(15px) 0 0;
    background-color: rgba(9, 157, 141, 0.95);
  }
  .header__nav .container {
    margin: 0 rem(45px) 0 0;
  }
  .header__link:hover {
    color: $color-link-hover;
  }
  .header__nav-list {
    justify-content: flex-end;
  }
  .header__nav-item {
    padding-right: rem(18px);
  }
  .header__nav-item:last-child {
    padding-right: 0;
  }
}
/* CSS MEDIA 1200px*/

@media all and (min-width: rem(1200px)) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    flex-grow: 1;
    text-align: left;

  }
  .header__nav {
    width: 50%;
    padding: rem(15px) 0 0 0;
    background-color: rgba(9, 157, 141, 0.95);
  }
  .header__nav .container {
    margin: 0 rem(45px) 0 0;
  }
  .header-1 .container {
    margin: 0 0 0 auto;
    width: rem(462px);
  }
  .header__nav .container {
    margin: 0 auto 0 0;
    width: rem(462px);
  }
  .header__link:hover {
    color: $color-link-hover;
  }
  .header__nav-list {
    justify-content: flex-end;
  }
  .header__nav-item {
    padding-right: rem(18px);
  }
  .header__nav-item:last-child {
    padding-right: 0;
  }
}
