/* HEADER CSS*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-1 {
  background-color: rgba(9, 157, 141, 0.95);
  padding: 15px 0;
  text-align: center;
  position: relative;
}

.header-1__title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.88;
  display: block;
  text-align: left;
  background-image: url(../images/bicis_blanco.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__nav {
  padding: 8px 0 7px;
  background: rgba(20, 217, 196, 0.9);
}

.header__nav-list {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  color: #1d0029;
}
.tandem-code__link {
  text-decoration: none;
  color: #ffffff;
}
.tandem-code__link:hover {
  color: #1d0029;
}

/* CSS HEADER MEDIA */

@media all and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    flex-grow: 1;
    text-align: left;
  }
  .header__nav {
    width: 50%;
    padding: 15px 0;
    background-color: rgba(9, 157, 141, 0.95);
  }
  .header__nav .container {
    margin: 0 45px 0 0;
  }
  .header__link:hover {
    color: #1d0029;
  }
  .header__nav-list {
    justify-content: flex-end;
  }
  .header__nav-item {
    padding-right: 1.125rem;
  }
  .header__nav-item:last-child {
    padding-right: 0;
  }
}
/* CSS MEDIA 1200px*/

@media all and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    flex-grow: 1;
    text-align: left;
  }
  .header__nav {
    width: 50%;
    padding: 15px 0;
    background-color: rgba(9, 157, 141, 0.95);
  }
  .header__nav .container {
    margin: 0 45px 0 0;
  }
  .header-1 .container {
    margin: 0 0 0 auto;
    width: 462px;
  }
  .header__nav .container {
    margin: 0 auto 0 0;
    width: 462px;
  }
  .header__link:hover {
    color: #1d0029;
  }
  .header__nav-list {
    justify-content: flex-end;
  }
  .header__nav-item {
    padding-right: 1.125rem;
  }
  .header__nav-item:last-child {
    padding-right: 0;
  }
}
