/* WHO CSS */

.who {
  text-align: center;
  position: relative;
  padding: 30px 0 45px 0;
}
.who__anchor-class {
  position: absolute;
  left: 0;
  top: -80px;
}

.who__title {
  margin: 0 0 30px 0;
  line-height:45px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #099d8d;
}

.who__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.who__list-person {
  margin-bottom: 45px;
}
.who__list-person:last-child{
  margin-bottom: 0;

}

.who__list-image {
  width: 180px;
  height: 180px;
  margin: auto;
}
.who__image {
  box-sizing: border-box;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  box-sizing: border-box;
}
.andre__image:hover{
  content: url('../images/andre-1x1.gif');
}
.coco__image:hover {
  content: url('../images/coco-1x1.gif');
}
.cris__image:hover {
  content: url('../images/cris-1x1.gif');
}
.eva__image:hover {
  content: url('../images/eva-1x1.gif');
}
.patri__image:hover {
  content: url('../images/patri-1x1.gif');
}

.who__name {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 2.25;
}

.who-text {
  margin: 0;
  color: #54585a;
  line-height: 1.5;
  font-size: 16px;
}

.social-list {
  margin: 15px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding:6px 0;
}

.social-list__icon:not(:last-child):after {
  content: "·";
  font-size: 16px;
  margin-right: 5px;
}

.social-list__link {
  text-decoration: none;
  color: #099d8d;
}
.social-list__link:hover {
  color:#1d0029;
}
.fab:hover,
.fas:hover {
  transform: scale(1.5);
}

/* MEDIA WHO SECTION 768px*/

@media all and (min-width: 768px) {
  .who{
    padding: 45px 0 60px 0;
  }
  .who__title{
    margin-bottom:40px;
  }
  .who__name{
    margin-top:0;
  }
  .who__anchor-class {
    top: -60px;
  }
  .who__list-person {
    margin-bottom:65px;
    display: flex;
    text-align: left;
  }
  .who__list-person:nth-child(2n) {
    text-align: right;
    justify-content: flex-end;
  }
  .who__list-person:nth-child(2n) .who__list-image {
    order: 1;
  }
  .social-list {
    justify-content: flex-start;
  }
  .who__list-person:nth-child(2n) .social-list {
    justify-content: flex-end;
  }

  .who__list-image {
    margin: 0;
    margin-right: 29px;
    width: 205px;
    min-width: 205px;
    height: 205px;
  }

  .who__list-person:nth-child(2n) .who__list-image {
    margin-right: 0;
    margin-left: 29px;
  }
  .who__name {
    margin: 0;
  }
}
/* WHO SECTION MEDIA 1200PX*/

@media all and (min-width: 1200px) {
  .who-text {
    max-width: 440px;
  }
  .who__list-image {
    width: 278px;
    min-width: 278px;
    height: 278px;
  }
  .who__list-person{
    margin-bottom: 60px;
  }
}
