/*TEAM SECTION CSS*/

.team {
  text-align: center;
  position: relative;
}

.team__anchor-class {
  position: absolute;
  left: 0;
  top: rem(-60px);
}

.team__title {
  font-family: $tf-rubik;
  font-size: rem(24px);
  font-weight: 700;
  color: $color-title-l;
  line-height: 1.88;
  text-transform: uppercase;
  margin-bottom: rem(15px);
  margin-top: rem(54px);
}

.team-desc__article {
  padding-top: rem(15px);
  padding-bottom: rem(30px);
  position: relative;
  z-index: 1;
}

.text {
  font-family: $tf-open;
  font-size: rem(16px);
  color: $color-text;
  margin-bottom: rem(30px);
  line-height: rem(24px);
}

.rombo {
  width: rem(30px);
  height: rem(30px);
  background-color: $white;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}

/*TEAM SECTION MEDIA 768px*/

@media all and (min-width: rem(768px)) {

  .team__anchor-class {
    top: rem(-35px);
  }
  .team__title {
    color: $color-title-d;
  }
}


/* CAPACITIES CSS */

.capacities {
  text-align: center;
  background-color: rgba(184, 184, 185, 0.2);
  padding: rem(30px) 0 rem(45px) 0;
}

.str__title,
.weak__title {
  color: $color-title-d;
  font-family: $tf-rubik;
  font-size: rem(22px);
  line-height: 2.05;
  margin-bottom: rem(10px);
  font-weight: 600;
}

.capacities-str {
  padding-top: rem(30px);
  margin-bottom: rem(30px);
}
.weak-text:last-child{
  margin-bottom: 0;
}

/* CAPACITIES MEDIA 768PX*/


@media all and (min-width: rem(768px)) {
  .capacities{
    padding: rem(45px) 0 rem(60px) 0;
  }
  .capacities .container {
    display: flex;
    flex-direction: row;
  }
  .capacities-str {
    width: 50%;
    box-sizing: content-box;
    margin-right: rem(15px);
      padding-top: 0;
      margin-bottom: 0;
    }
  .capacities-weak {
    width: 50%;
    box-sizing: content-box;
    margin-left: rem(15px);
  }
  .str-text:last-child, .weak-text:last-child {
    margin-bottom: 0;
  }
}
