/* WHO CSS */

.who {
  text-align: center;
  position: relative;
}
.who__anchor-class {
  position: absolute;
  left: 0;
  top: rem(-80px);
}

.who__title {
  margin: 0;
  padding: rem(30px);
  text-transform: uppercase;
  font-size: rem(24px);
  font-family: $tf-rubik;
  font-weight: 700;
  color: $color-title-d;
}

.who__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $tf-open;
}

.who__list-person {
  margin-bottom: rem(45px);
}

.who__list-image {
  width: rem(180px);
  height: rem(180px);
  margin: auto;
}
.who__image {
  box-sizing: border-box;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: rem(4px);
}
.andre__image:hover{
  content: url('../images/andre-1x1.gif');
}
.coco__image:hover {
  content: url('../images/coco-1x1.gif');
}
.cris__image:hover {
  content: url('../images/cris-1x1.gif');
}
.eva__image:hover {
  content: url('../images/eva-1x1.gif');
}
.patri__image:hover {
  content: url('../images/patri-1x1.gif');
}

.who__name {
  margin: rem(15px) 0 0 0;
  font-size: rem(20px);
  font-weight: normal;
  line-height: 2.25;
}

.who-text {
  margin: 0;
  color: $color-text;
  line-height: 1.5;
  font-size: rem(16px);
}

.social-list {
  margin: rem(15px) auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-list__icon:not(:last-child):after {
  content: "·";
  font-size: rem(16px);
  margin-right: rem(5px);
}

.social-list__link {
  text-decoration: none;
  color: $color-title-d;
}
.social-list__link:hover {
  color: $color-link-hover;
}
.fab:hover,
.fas:hover {
  transform: scale(1.5);
}

@media all and (min-width: 768px) {
  .who__anchor-class {
    top: rem(-60px);
  }
  .who__list-person {
    display: flex;
    text-align: left;
  }
  .who__list-person:nth-child(2n) {
    text-align: right;
    justify-content: flex-end;
  }
  .who__list-person:nth-child(2n) .who__list-image {
    order: 1;
  }
  .social-list {
    justify-content: flex-start;
  }
  .who__list-person:nth-child(2n) .social-list {
    justify-content: flex-end;
  }

  .who__list-image {
    margin: 0;
    margin-right: rem(29px);
    width: rem(205px);
    min-width: rem(205px);
  }

  .who__list-person:nth-child(2n) .who__list-image {
    margin-right: 0;
    margin-left: rem(29px);
  }
  .who__name {
    margin: 0;
  }
}

@media all and (min-width: 1200px) {
  .who-text {
    max-width: rem(442px);
  }
  .who__list-image {
    width: rem(278px);
    height: rem(278px);
    min-width: rem(278px);
  }
}
