/*TEAM SECTION CSS*/

.team {
  text-align: center;
  position: relative;
}

.team__anchor-class {
  position: absolute;
  left: 0;
  top: -60px;
}

.team__title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(20, 217, 196);
  line-height: 1.88;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 54px;
}

.team-desc__article {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  margin-bottom: 30px;
  line-height: 24px;
}

.rombo {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}

/*TEAM SECTION CSS*/

@media all and (min-width: 768px) {
  .team__anchor-class {
    top: -35px;
  }
  .team__title {
    color: #099d8d;
  }
}

/* CAPACITIES CSS */

.capacities {
  text-align: center;
  background-color: rgba(184, 184, 185, 0.2);
  padding: 30px 0 45px 0;
}

.str__title,
.weak__title {
  color: #099d8d;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 2.05;
  font-weight: 600;
}

.capacities-str {
  margin-bottom: 30px;
}

.weak-text:last-child {
  margin-bottom: 0px;
}
/* CAPACITIES MEDIA */

@media all and (min-width: 768px) {
  .capacities{
    padding: 45px 0 60px 0;
  }

  .capacities .container {
    display: flex;
    flex-direction: row;
  }
  .capacities-str {
    width: 50%;
    box-sizing: content-box;
    margin: 0 15px 0 0;
  }
  .capacities-weak {
    width: 50%;
    box-sizing: content-box;
    margin-left: 15px;
  }
  .str-text:last-child, .weak-text:last-child {
    margin-bottom: 0px;
  }
}
