/* HERO CSS */

.hero {
  @include bg-img();
  height: rem(421px);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero__text {
  font-family: $tf-open;
  font-size: rem(18px);
  font-weight: 600;
  line-height: 1.39;
  padding: rem(15px);
  text-align: center;
  background-color: $white;
  transform: translatey(50%);
}

/* HERO MEDIA */

@media all and (min-width: rem(348px)) {
  .hero__text {
    transform: translatey(45%);
  }
}

@media all and (min-width: rem(768px)) {
  .hero__text {
    transform: translatey(0%);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 60%;
  }
}

@media all and (min-width: rem(1200px)) {
  .hero{
    height: rem(550px); }
  .hero__text {
    transform: translatey(0%);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 60%;
    font-size: rem(24px);
    line-height: 1.25;
  }
}
