<section class="team">
    <div class="team__anchor-class" id="team__anchor"></div>
    <div class="team-desc">
      <div class="container">
        <article class="team-desc__article">
          <h2 class="team__title" tabindex="0">Equipo</h2>
          <p class="team__text text" tabindex="0">
            Somos un equipo multidisciplinar enfocado a la creación de
            producto digital de calidad adaptado a las necesidades del
            cliente. Provenimos de distintas ramas profesionales, desarrollo
            humano, creativo y técnico, que hacen de nuestro producto un
            recurso valioso que aporta un valor añadido que marca la
            diferencia.
          </p>
          <p class="team__text text" tabindex="0">
            Somos un tándem que combina esfuerzos para pedalear juntas en la
            misma dirección y así conseguir resultados eficaces y en el
            menor tiempo posible. Capaz de afrontar retos, idóneo para la
            generación de nuevas ideas, desarrollo de propuestas y
            proposición de soluciones.
          </p>
          <div class="rombo"></div>
        </article>
      </div>
    </div>
    <aside class="capacities">
      <div class="container">
        <div class="capacities-str">
          <h3 class="str__title" tabindex="0">Fortalezas</h3>
          <p class="str-text text" tabindex="0">
            Contamos con profesionales de sectores muy diversos que aportan
            al equipo diferentes puntos de vista sobre los retos que se nos
            plantean y nos permiten plantear soluciones innovadoras y
            divergentes.
          </p>
          <p class="str-text text" tabindex="0">
            Hemos desarrollado una gran comunicación entre nuestros
            miembros, una buena organización de los trabajos que basamos en
            una planificación dentro del marco de trabajo SCRUM.
          </p>
          <p class="str-text text" tabindex="0">
            Somos capaces de adaptarnos rápidamente a las circunstancias
            cambiantes de un proyecto. Disponemos de una gran motivación,
            que nos ha traído hasta aquí, tenemos un gran compromiso con los
            propósitos que adoptamos y un gran compromiso con la consecución
            de los mismos.
          </p>
        </div>
        <div class="capacities-weak">
          <h3 class="weak__title" tabindex="0">Debilidades</h3>
          <p class="weak-text text" tabindex="0">
            Como programadoras Junior tenemos poco desarrollo técnico en el
            campo de la programación, por lo que necesitamos seguir
            invirtiendo tiempo en formación. Esto nos permitirá mejorar día
            a día.
          </p>
          <p class="weak-text text" tabindex="0">
            Nuestro compromiso de calidad puede llegar a estar reñido con la
            entrega de un trabajo en el menor tiempo posible ya que nuestra
            prioridad es la excelencia.
          </p>
        </div>
      </div>
    </aside>
  </section>