/* GENERAL CSS */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}


/* Import de los partials*/
@import 'layouts/_container.scss';
@import 'partials/_header.scss';
@import 'partials/index/_hero.scss';
@import 'partials/index/_team.scss';
@import 'partials/index/_who.scss';
@import 'partials/_footer.scss';

@import 'partials/contact/_hero.scss';

