
/* GENERAL CSS */

* {
  padding: 0;
  margin: 0;
}
a:focus{
  outline:  #1d0029 solid 2px;
}

body {
  font-family: "Open Sans", sans-serif;
}


/* Import de los partials*/
@import 'layouts/_container.scss';
@import 'partials/_header.scss';
@import 'partials/_home-hero.scss';
@import 'partials/_home-team.scss';
@import 'partials/_home-who.scss';
@import 'partials/_footer.scss';
@import 'partials/_contact-hero.scss';
@import 'partials/_contact-form.scss';

