/* GENERAL CSS */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}



/* Import de los partials*/
@import 'layouts/_container.scss';
@import 'partials/_header.scss';
@import 'partials/_heromain.scss';
@import 'partials/_teammain.scss';
@import 'partials/_whomain.scss';
@import 'partials/_footer.scss';

@import 'layouts/_herocontact.scss';

