<footer class="footer">
    <div class="container wrapper">
      <div class="item item1">
        <p class="footer__text">Tandem Code © 2019</p>
      </div>
      <div class="item item2">
          <nav class="footer__nav">
              <ul class="footer__nav-list">
                <li><a class="footer__link" href="#team__anchor">Equipo</a></li>
                <li>
                  <a class="footer__link" href="#who__anchor">Quiénes Somos</a>
                </li>
                <li><a class="footer__link" href="#">Contacto</a></li>
              </ul>
            </nav>
      </div>
      <div class="item item3">
        <div class="footer__logo-ada">
            <a href="https://adalab.es/" target="_blank">
              <img
                class="logo-ada__img"
                src="assets/images/logo-adalab.svg"
                alt="Adalab"
              />
            </a>
        </div>
      </div>
    </div>
  </footer>
