<header class="header">
  <div class="header-1">
    <div class="container">
      <a class="tandem-code__link" href="index.html"tabindex="0">
        <h1 class="header-1__title">
          Tandem Code
        </h1>
      </a>
    </div>
  </div>
  <nav class="header__nav">
    <div class="container">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__link" href="index.html#team__anchor">Equipo</a>
        </li>
        <li class="header__nav-item">
          <a class="header__link" href="index.html#who__anchor"
            >Quienes Somos</a
          >
        </li>
        <li class="header__nav-item">
          <a class="header__link" href="contact.html" tabindex="0">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
