<header class="header">
  <div class="header-1">
    <div class="container">
      <h1 class="header-1__title" tabindex="0">
        <a class="tandem-code__link" href="#tandem-code__anchor">Tandem Code</a>
      </h1>
    </div>
  </div>
  <nav class="header__nav">
    <div class="container">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__link" href="#team__anchor">Equipo</a>
        </li>
        <li class="header__nav-item">
          <a class="header__link" href="#who__anchor">Quienes Somos</a>
        </li>
        <li class="header__nav-item">
          <a class="header__link" href="contact.html>Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
