<section class="who">
  <div class="who__anchor-class" id="who__anchor"></div>
  <div class="container">
    <h2 class="who__title">Quiénes Somos</h2>
    <ul class="who__list">
      <li class="who__list-person">
        <div class="who__list-image">
          <img
            class="who__image andre__image"
            src="assets/images/andre-1x1.jpg"
            alt="Foto de Andreina Romero Garcia "
          />
        </div>
        <div class="who__description">
          <h4 class="who__name">Andreina Romero Garcia</h4>
          <p class="who-text text">
            Graduada en Recursos Humanos especializada en economía y
            mercados financieros. Soy proactiva, inconformista y me gusta
            pensar en las múltiples soluciones a un mismo problema, cuanto
            más creativas, mejor. Lo que más me llena es ayudar a los
            demás y aprender de ellos, lo que me motiva a reciclarme y
            aprender continuamente. Me apasiona estudiar japonés y leer
            sobre nuevas tecnologías. Mi nueva y recién descubierta
            pasión: la programación Front-End.
          </p>
          <ul class="social-list">
            <li class="social-list__icon icon-1">
              <a
                class="social-list__link"
                href="https://twitter.com/sushidegominola"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="social-list__icon icon-2">
              <a
                class="social-list__link"
                href="https://www.linkedin.com/in/romeroandreina/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="social-list__icon icon-3">
              <a
                class="social-list__link"
                href="https://github.com/andreina-proyectos"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="social-list__icon icon-4">
              <a
                class="social-list__link"
                href="mailto:andreina.romero.garcia@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="who__list-person">
        <div class="who__list-image">
          <img
            class="who__image cris__image"
            src="assets/images/cris-1x1.jpg"
            alt="Foto de Cristina Tato de la Torre"
          />
        </div>
        <div class="who__description">
          <h4 class="who__name">
            Cristina Tato de la Torre
          </h4>
          <p class="who-text text">
            Soy Cristina y soy una adalaber. Eso significa que soy una
            persona sin miedo al cambio que quiere desarrollarse
            profesionalmente en el mundo Front-End. Mis estudios en
            Audiovisuales y Marketing me permiten adaptarme a cualquier
            entorno. Me encanta poder ayudar, trabajar en grupo y las
            películas y series. Para cualquier recomendación no dudes en
            contactar conmigo.
          </p>
          <ul class="social-list">
            <li class="social-list__icon icon-1">
              <a
                class="social-list__link"
                href="https://twitter.com/cristinatato22?lang=es"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="social-list__icon icon-2">
              <a
                class="social-list__link"
                href="https://www.linkedin.com/in/cristinatato/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="social-list__icon icon-3">
              <a
                class="social-list__link"
                href="https://github.com/CristinaTato"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="social-list__icon icon-4">
              <a
                class="social-list__link"
                href="mailto:c.tatodelatorre@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="who__list-person">
        <div class="who__list-image">
          <img
            class="who__image coco__image"
            src="assets/images/coco-1x1.jpg"
            alt="Foto de Constanza Sosa González"
          />
        </div>
        <div class="who__description">
          <h4 class="who__name">Constanza Sosa González</h4>
          <p class="who-text text">
            Hola! Soy una Marketer que ha vivido por el mundo y que ha
            trabajado tanto en startups como en grandes corporaciones
            adaptándome fácilmente a cada una. Estas experiencias me han
            permitido desarrollar diferentes habilidades. Soy detallista,
            pero sin perder de vista el objetivo. Me gusta trabajar tanto
            en equipo como de forma autónoma. Hobbies: viajar, cocinar y
            hacer bricolaje!
          </p>
          <ul class="social-list">
            <li class="social-list__icon icon-1">
              <a
                class="social-list__link"
                href="https://twitter.com/ConsSG?lang=es"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="social-list__icon icon-2">
              <a
                class="social-list__link"
                href="https://www.linkedin.com/in/constanzasosa/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="social-list__icon icon-3">
              <a
                class="social-list__link"
                href="https://github.com/constanza-sosa"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="social-list__icon icon-4">
              <a
                class="social-list__link"
                href="mailto:constanza.sosa.g@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="who__list-person">
        <div class="who__list-image">
          <img
            class="who__image eva__image"
            src="assets/images/eva-1x1.jpg"
            alt="Foto de Eva Marco Domínguez"
          />
        </div>
        <div class="who__description">
          <h4 class="who__name">Eva Marco Domínguez</h4>
          <p class="who-text text">
            Soy aparejadora y llevo años realizando proyectos técnicos, lo que me ha dado una visión muy lógica para resolver problemas.
            Llegué al mundo de la programación gracias a un Record Guinness y me enamoré, y ahora estoy deseando aprender más. Disfruto leyendo, haciendo manualidades y practicando artes marciales. Y ante todo adoro a los gatos.
          </p>
          <ul class="social-list">
            <li class="social-list__icon icon-1">
              <a
                class="social-list__link"
                href="https://twitter.com/MigaraArcher"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="social-list__icon icon-2">
              <a
                class="social-list__link"
                href="https://www.linkedin.com/in/evamarcodominguez/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="social-list__icon icon-3">
              <a
                class="social-list__link"
                href="https://github.com/EvaMarco"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="social-list__icon icon-4">
              <a
                class="social-list__link"
                href="mailto:evamarcod@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="who__list-person">
        <div class="who__list-image">
          <img
            class="who__image patri__image"
            src="assets/images/patri-1x1.jpg"
            alt="Foto de Patricia Suárez"
          />
        </div>
        <div class="who__description">
          <h4 class="who__name">Patricia Suárez</h4>
          <p class="who-text text">
            Bioquímica apasionada de la ciencia y la microbiología ahora
            quiere seguir creciendo dentro del mundo de la programación
            Front-end. Perseverante, metódica y curiosa. Siempre buscando
            el por qué y el cómo de las cosas. Invítala a unas cañas y ya
            seréis amigos. 🍻
          </p>
          <ul class="social-list">
            <li class="social-list__icon icon-1">
              <a
                class="social-list__link"
                href="https://twitter.com/patriiSR"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="social-list__icon icon-2">
              <a
                class="social-list__link"
                href="https://www.linkedin.com/in/psuarez92/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="social-list__icon icon-3">
              <a
                class="social-list__link"
                href="https://github.com/patriciaSR"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="social-list__icon icon-4">
              <a
                class="social-list__link"
                href="mailto:patricia.suarez.psr@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
