.main__herocontact{
    background-image: url('../images/grupo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 421px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
@media all and (min-width: 21.75rem) {
    .main__herocontact{
        background-image: url('../images/grupo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 421px;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
  }
  
  @media all and (min-width: 48rem) {
    .main__herocontact{
        background-image: url('../images/grupo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 421px;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
  }