/* WHO CSS */

.who {
  text-align: center;
  position: relative;
}
.who__anchor-class {
  position: absolute;
  left: 0;
  top: -5rem;
}

.who__title {
  margin: 0;
  padding: 1.875rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #099d8d;
}

.who__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.who__list-person {
  margin-bottom: 2.8125rem;
}

.who__list-image {
  width: 11.25rem;
  height: 11.25rem;
  margin: auto;
}
.who__image {
  width: 100%;
  border: solid 0.3125rem rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}
.andre__image:hover{
  content: url('../images/andre-1x1.gif');
}
.coco__image:hover {
  content: url('../images/coco-1x1.gif');
}
.cris__image:hover {
  content: url('../images/cris-1x1.gif');
}
.eva__image:hover {
  content: url('../images/eva-1x1.gif');
}
.patri__image:hover {
  content: url('../images/patri-1x1.gif');
}

.who__name {
  margin: 0.9375rem 0 0 0;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 2.25;
}

.who-text {
  margin: 0;
  color: #54585a;
  line-height: 1.5;
  font-size: 1rem;
}

.social-list {
  margin: 0.9375rem auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-list__icon:not(:last-child):after {
  content: "·";
  font-size: 1rem;
  margin-right: 0.3125rem;
}

.social-list__link {
  text-decoration: none;
  color: #099d8d;
}
.social-list__link:hover {
  color:#1d0029;
}
.fab:hover,
.fas:hover {
  transform: scale(1.5);
}

@media all and (min-width: 48rem) {
  .who__anchor-class {
    top: -3.75rem;
  }
  .who__list-person {
    display: flex;
    text-align: left;
  }
  .who__list-person:nth-child(2n) {
    text-align: right;
    justify-content: flex-end;
  }
  .who__list-person:nth-child(2n) .who__list-image {
    order: 1;
  }
  .social-list {
    justify-content: flex-start;
  }
  .who__list-person:nth-child(2n) .social-list {
    justify-content: flex-end;
  }

  .who__list-image {
    margin: 0;
    margin-right: 1.8125rem;
    width: 12.8125rem;
    min-width: 12.8125rem;
    height: 12.8125rem;
  }

  .who__list-person:nth-child(2n) .who__list-image {
    margin-right: 0;
    margin-left: 1.8125rem;
  }
}

@media all and (min-width: 75rem) {
  .who-text {
    max-width: 27.5rem;
  }
  .who__list-image {
    width: 17.375rem;
    min-width: 17.375rem;
    height: 17.375rem;
  }
}
