/*colors*/
$green-dark: #099d8d;
$green-light: #14d9c4;
$black: #000000;
$white: #ffffff;
$grey-dark: #54585a;
$grey-light: #b8b8b9;
$purple: #1d0029;

$grey-bg: $grey-light;
$color-link-hover: $purple;
$color-text: $grey-dark;
$color-header-title: $white;
$color-title: $green-dark;
$color-subtitle: $black;

/*text*/

$tf_open: "Open Sans", sans-serif;
$tf_rubik: "Rubik", sans-serif;

